header {
width: 1200px;
background-color: aqua;
margin: 0 auto;
display: flex;
}


li {
list-style: none;
}
a { 
text-decoration: none;
color: #000;
font-weight: 700;
}
ul {
display: flex;
}

.top-menu {
  width: 150px;
  padding: 30px 0 20px;
  justify-content: center;
  display: flex;
  }
.sub-menu {
  width: 150px;
  display: block;
  text-align: center;
  padding: 30px 0 30PX;
  background-color: #000;
  color: #fff;
}
.box {
  display: flex;
}
.top-menu-box li{
  margin: 0 5px;
}
.sub-menu {
  display: none; 
  position: absolute;
}
.top-menu-box > li:hover .sub-menu {
  display: block;
}
.box {
position: relative;
}
.top-menu-box {
position: ;
padding: 15.4px 0px 12px;
display: flex;
justify-content: flex-end;

}
.logo {
width: 80px;
height: 80px;
display: flex;
padding: 20px;
}
.center {
width: 1200px;
margin: 0 auto;
display: flex;
height: 3000px;

}
.gwanggo .gwanggo-1 {
width: 1200px; 
height: 712px;
/* margin: 0 auto; */ 
}
.gwanggo {
display: flex;
margin: 0 auto;
}

.gwanggo {
  position: relative;
  overflow: hidden;
  width: 1200px;
  height: 712px;
}
.Text {
  width: 1200px;
  padding: 1.8rem 0.3rem 0;
  margin: 0 auto;
  display: flex;
}

.Text .EVENT-UL , .Text .NOTICE-UL{ 

flex-direction: column;
}
.Text .EVENT .EVENT-BIG {
font-size: 30px;
}
.Text .NOTICE .NOTICE-BIG {
font-size: 30px;
}
.Text .EVENT-UL .more , .Text .NOTICE-UL .more {
width: 20px;
margin-left: 10px;
}
.appbanner .appbanner-1 {
background-color: #ddcfbd;
}
.appbanner img {
width: auto;
height: 260px;
display: block;
text-align: center;
background-color: #ddcfbd;
margin: 0 auto;
}
.chuchen {
width: 100%;
height: 854.64px;
background-image: url(https://www.yupdduk.com/images/main/bg_menu2.jpg);
background-size: cover;
padding-top: 6rem;
padding-bottom: 6rem;

}
.chuchen-img {
width: 100%;
height: 854.64;
}
.yuppduk {
display: flex;
margin: 0px 0px 16px;
font-size: 38.4px;
justify-content: center;
color: #FFF;
}
.yup-chuchen {
display: flex;
margin: 10px 0px 48px;
padding: 0px 0px 24px;
font-size: 19.2px;
justify-content: center;
color: rgba(255,255, 255, .8);
}
.chuchen-menu {
display: flex;
margin: 0px -15px;
flex-wrap: wrap;
justify-content: center;
}
.yonjo {
background-position: center bottom !important;
background-color: #fff !important;
margin: 0 1%;
padding: 0;
background-size: 335px !important;
background-repeat: no-repeat !important;
height: 430px;
width: 322px;
box-shadow: 0 5px 15px 0 #111;
justify-content: center;
text-align: center;
background-image: url(https://www.yupdduk.com/Images/main/menu01_2021.png);
}
.yonjo:hover {
    background-color: #de1d24 !important;
    transition: all 1s;
    padding: 8px;
}
.yonjo:hover .yonjo-yup , .yonjo:hover .yonjo-spi {
  color: #fff !important;
  font-family: 'Noto Sans KR', sans-serif;
    text-transform: uppercase
}
.yonjo:hover .yonjo-sub a {
  background-color: #d8b166;
  font-size: 1rem;
  padding: 2px 10px;
  transition: 0.3s;
  font-family: 'Noto Sans KR', sans-serif;
    text-transform: uppercase
}
}
.yonjo .yonjo-sub {
  max-width: 400px;
  font-size: 0.92rem;
}
.yonjo .yonjo-sub .yonjo-yup {
  font-size: 1.8rem;
  font-weight: 400;
  padding-top: 2rem;
  color: #8c6239;
  font-weight: 600;
}
  
.yonjo .yonjo-sub .yonjo-spi{
  margin: 5px 0 10px 0;
  color: #666;
}

.yonjo .yonjo-sub a { 
    background-color: #ccc;
    color: #fff;
    border-radius: 30px;
    font-size: 0.84rem;
    font-weight: 300;
    padding: 1px 6px;
}
.SIDE {
background-position: center bottom !important;
background-color: #fff !important;
margin: 0 1%;
padding: 0;
background-size: 335px !important;
background-repeat: no-repeat !important;
height: 430px;
width: 310px;
box-shadow: 0 5px 15px 0 #111;
justify-content: center;
text-align: center;
background-image: url(https://www.yupdduk.com/images/main/menu02_2021.png);
}
.SIDE:hover {
  background-color: #de1d24 !important;
  transition: all 1s;
  padding: 8px;
}
.SIDE:hover .SIDE-SIDE , .SIDE:hover .SIDE-HOT {
color: #fff !important;
font-family: 'Noto Sans KR', sans-serif;
  text-transform: uppercase
}
.SIDE:hover .SIDE-SUB a {
background-color: #d8b166;
font-size: 1rem;
padding: 2px 10px;
transition: 0.3s;
font-family: 'Noto Sans KR', sans-serif;
  text-transform: uppercase
}
.SIDE .SIDE-SUB {
  max-width: 400px;
  font-size: 0.92rem;
}
.SIDE .SIDE-SUB .SIDE-SIDE {
  font-size: 1.8rem;
  font-weight: 400;
  padding-top: 2rem;
  color: #8c6239;
  font-weight: 600;
}
  
.SIDE .SIDE-SUB .SIDE-HOT{
  margin: 5px 0 10px 0;
  color: #666;
}

.SIDE .SIDE-SUB a { 
    background-color: #ccc;
    color: #fff;
    border-radius: 30px;
    font-size: 0.84rem;
    font-weight: 300;
    padding: 1px 6px;
}
.TOPPING {
background-position: center bottom !important;
background-color: #fff !important;
margin: 0 1%;
padding: 0;
background-size: 335px !important;
background-repeat: no-repeat !important;
height: 430px;
width: 310px;
box-shadow: 0 5px 15px 0 #111;
justify-content: center;
text-align: center;
background-image: url(https://www.yupdduk.com/images/main/menu03.png);
}
.TOPPING:hover {
  background-color: #de1d24 !important;
  transition: all 1s;
  padding: 8px;
}
.TOPPING:hover .TOPPING-TOP , .TOPPING:hover .TOPPING-TOP-GOOD {
color: #fff !important;
font-family: 'Noto Sans KR', sans-serif;
  text-transform: uppercase
}
.TOPPING:hover .TOPPING-SUB a {
background-color: #d8b166;
font-size: 1rem;
padding: 2px 10px;
transition: 0.3s;
font-family: 'Noto Sans KR', sans-serif;
  text-transform: uppercase
}
.TOPPING .TOPPING-SUB {
  max-width: 400px;
  font-size: 0.92rem;
}
.TOPPING .TOPPING-SUB .TOPPING-TOP {
  font-size: 1.8rem;
  font-weight: 400;
  padding-top: 2rem;
  color: #8c6239;
  font-weight: 600;
}
  
.TOPPING .TOPPING-SUB .TOPPING-TOP-GOOD{
  margin: 5px 0 10px 0;
  color: #666;
}

.TOPPING .TOPPING-SUB a { 
    background-color: #ccc;
    color: #fff;
    border-radius: 30px;
    font-size: 0.84rem;
    font-weight: 300;
    padding: 1px 6px;
}
.SET {
background-position: center bottom !important;
background-color: #fff !important;
margin: 0 1%;
padding: 0;
background-size: 335px !important;
background-repeat: no-repeat !important;
height: 430px;
width: 310px;
box-shadow: 0 5px 15px 0 #111;
justify-content: center;
text-align: center;
background-image: url(https://www.yupdduk.com/images/main/menu04.png);
}
.SET:hover {
  background-color: #de1d24 !important;
  transition: all 1s;
  padding: 8px;
}
.SET:hover .SET-SET , .SET:hover .SET-MORESET {
color: #fff !important;
font-family: 'Noto Sans KR', sans-serif;
  text-transform: uppercase
}
.SET:hover .SET-SUB a {
background-color: #d8b166;
font-size: 1rem;
padding: 2px 10px;
transition: 0.3s;
font-family: 'Noto Sans KR', sans-serif;
  text-transform: uppercase
}
.SET .SET-SUB {
  max-width: 400px;
  font-size: 0.92rem;
}
.SET .SET-SUB .SET-SET {
  font-size: 1.8rem;
  font-weight: 400;
  padding-top: 2rem;
  color: #8c6239;
  font-weight: 600;
}
  
.SET .SET-SUB .SET-MORESET{
  margin: 5px 0 10px 0;
  color: #666;
}

.SET .SET-SUB a { 
    background-color: #ccc;
    color: #fff;
    border-radius: 30px;
    font-size: 0.84rem;
    font-weight: 300;
    padding: 1px 6px;
}